{:paths   ["src"]
 :deps    {cider/cider-nrepl           {:mvn/version "0.25.3"}
           refactor-nrepl              {:mvn/version "2.5.0"}
           org.clojure/tools.namespace {:mvn/version "1.0.0"}}
 :aliases
 {:dev
  {:main-opts  ["-m" "nrepl.cmdline"
                "--middleware"
                "[cider.nrepl/cider-middleware,refactor-nrepl.middleware/wrap-refactor]"]}}}
